<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="max-width: 600px; margin-top:50px;">
    <div class="jumbotron">
        <h2>500</h2>
        <p>对不起服务异常</p>
    </div>

</div>
</body>
</html>