<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>书单详情</title>
</head>
<body>
<div>
    <p>
        <strong>书名</strong><span th:text="${book.name}">123</span>
    </p>
    <p>
        <strong>作者</strong><span th:text="${book.author}">456</span>
    </p>
    <p>
        <strong>说明</strong><span th:text="${book.description}">7123</span>
    </p>
    <p>
        <strong>状态</strong><span th:text="${book.status}">821</span>
    </p>
</div>
</body>
</html>
